@mixin static-colors {
  --color-primary: #1de9b6;
  --color-secondary: #40c4ff;
  --color-light: #f0f0f3;
  --color-dark: #2c2f32;
  --color-light-paper: #ffffffcc;
  --color-dark-paper: #2c2f32cc;
  --color-selection-text: var(--color-dark);
  --color-selection-background: var(--color-primary);

  --gradient: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  
  --color-text: #fff;
  --color-background: var(--color-dark);
  --color-background-paper: var(--color-dark-paper);
  --color-border: #999999;
  --color-placeholder: #c9c9c9;
  --box-shadow: 0px 0px 15px 0 #ffffff57;
}